Repository Emurgo/yoroi-frontend, pull requests merged in 2021-06, with the labels that each got.

#2103 Migration to SigmaRust 0.13.x
  packages/yoroi-ergo-connector/example/package.json
  packages/yoroi-extension/app/ergo-connector/containers/SignTxContainer.stories.js
  packages/yoroi-extension/chrome/extension/ergo-connector/types.js
  packages/yoroi-extension/flow-typed/npm/ergo-lib-wasm-browser_vx.x.x.js
  packages/yoroi-extension/package-lock.json
  packages/yoroi-extension/package.json
Labels: ergo

#2122 Ergo Flow and Lint fixes
  packages/yoroi-extension/.eslintrc.js
  packages/yoroi-extension/app/api/ada/lib/cardanoCrypto/catalyst.test.js
  packages/yoroi-extension/app/ergo-connector/stores/ConnectorStore.js
  packages/yoroi-extension/chrome/extension/background.js
  packages/yoroi-extension/chrome/extension/ergo-connector/api.js
  packages/yoroi-extension/chrome/extension/ergo-connector/types.js
  packages/yoroi-extension/flow-typed/npm/ergo-lib-wasm-browser_vx.x.x.js
  packages/yoroi-extension/package-lock.json
Labels: ergo

#2152 [quickfix] Release 4.5.4
  check-all.sh
  install-all.sh
  packages/yoroi-ergo-connector/package-lock.json
  packages/yoroi-extension/app/components/wallet/voting/Voting.js
  packages/yoroi-extension/app/config/numbersConfig.js
  packages/yoroi-extension/app/containers/wallet/voting/VotingPage.js
  packages/yoroi-extension/app/i18n/locales/cs-CZ.json
  packages/yoroi-extension/app/i18n/locales/de-DE.json
  packages/yoroi-extension/app/i18n/locales/el-GR.json
  packages/yoroi-extension/app/i18n/locales/en-US.json
  packages/yoroi-extension/app/i18n/locales/es-ES.json
  packages/yoroi-extension/app/i18n/locales/fr-FR.json
  packages/yoroi-extension/app/i18n/locales/hr-HR.json
  packages/yoroi-extension/app/i18n/locales/id-ID.json
  packages/yoroi-extension/app/i18n/locales/it-IT.json
  packages/yoroi-extension/app/i18n/locales/ja-JP.json
  packages/yoroi-extension/app/i18n/locales/ko-KR.json
  packages/yoroi-extension/app/i18n/locales/nl-NL.json
  packages/yoroi-extension/app/i18n/locales/pt-BR.json
  packages/yoroi-extension/app/i18n/locales/ru-RU.json
  packages/yoroi-extension/app/i18n/locales/sk-SK.json
  packages/yoroi-extension/app/i18n/locales/tr-TR.json
  packages/yoroi-extension/app/i18n/locales/zh-Hans.json
  packages/yoroi-extension/app/i18n/locales/zh-Hant.json
  packages/yoroi-extension/package-lock.json
  packages/yoroi-extension/package.json
Labels: release

#2151 Fix for Ergo unknown address type error in develop
  packages/yoroi-extension/app/api/ada/lib/storage/bridge/utils.js
  packages/yoroi-extension/flow-typed/npm/ergo-lib-wasm-browser_vx.x.x.js
Labels: ergo

#2166 Fixes for issues caused when sigma-rust was updated to 0.13.1
  packages/yoroi-ergo-connector/example/package-lock.json
  packages/yoroi-extension/app/api/ergo/lib/transactions/ErgoExternalTxSignRequest.js
  packages/yoroi-extension/app/api/ergo/lib/transactions/ErgoTxSignRequest.js
  packages/yoroi-extension/app/api/ergo/lib/transactions/utxoTransaction.test.js
  packages/yoroi-extension/flow-typed/npm/ergo-lib-wasm-browser_vx.x.x.js
  packages/yoroi-extension/package-lock.json
Labels: ergo

#2169 ergo-lib updated to 0.13.2
  install-all.sh
  packages/yoroi-ergo-connector/example/package-lock.json
  packages/yoroi-ergo-connector/example/package.json
  packages/yoroi-extension/package-lock.json
  packages/yoroi-extension/package.json
Labels: ergo

#2174 Release / 4.5.5 (Tokens metadata integration v1)
  packages/yoroi-extension/app/api/ada/lib/state-fetch/IFetcher.js
  packages/yoroi-extension/app/api/ada/lib/state-fetch/batchedFetcher.js
  packages/yoroi-extension/app/api/ada/lib/state-fetch/remoteFetcher.js
  packages/yoroi-extension/app/api/ada/lib/state-fetch/types.js
  packages/yoroi-extension/app/api/ada/lib/storage/database/prepackaged/networks.js
  packages/yoroi-extension/app/api/ada/lib/storage/database/primitives/tables.js
  packages/yoroi-extension/app/api/ada/lib/storage/tests/__snapshots__/index.test.js.snap
  packages/yoroi-extension/app/api/common/errors.js
  packages/yoroi-extension/app/stores/ada/AdaTransactionsStore.js
  packages/yoroi-extension/app/stores/stateless/tokenHelpers.js
  packages/yoroi-extension/package-lock.json
  packages/yoroi-extension/package.json
Labels: release

#2096 Ledger wallet Catalyst voting registration support
  packages/yoroi-extension/app/api/ada/index.js
  packages/yoroi-extension/app/api/ada/lib/cardanoCrypto/catalyst.js
  packages/yoroi-extension/app/api/ada/lib/cardanoCrypto/catalyst.test.js
  packages/yoroi-extension/app/api/ada/transactions/shelley/HaskellShelleyTxSignRequest.js
  packages/yoroi-extension/app/api/ada/transactions/shelley/ledgerTx.js
  packages/yoroi-extension/app/api/ada/transactions/shelley/ledgerTx.test.js
  packages/yoroi-extension/app/containers/wallet/voting/VotingPage.js
  packages/yoroi-extension/app/domain/LedgerLocalizedError.js
  packages/yoroi-extension/app/i18n/locales/en-US.json
  packages/yoroi-extension/app/stores/ada/HWVerifyAddressStore.js
  packages/yoroi-extension/app/stores/ada/LedgerConnectStore.js
  packages/yoroi-extension/app/stores/ada/VotingStore.js
  packages/yoroi-extension/app/stores/ada/send/LedgerSendStore.js
  packages/yoroi-extension/features/mock-ledger-connect/index.js
  packages/yoroi-extension/package-lock.json
  packages/yoroi-extension/package.json
Labels: catalyst, hardware-wallets

#2100 UI updates for hardware wallet Catalyst registration
  packages/yoroi-extension/app/assets/images/pic-catalyst-step3-ledger.inline.svg
  packages/yoroi-extension/app/assets/images/pic-catalyst-step3-trezor.inline.svg
  packages/yoroi-extension/app/components/wallet/voting/ConfirmPinDialog.js
  packages/yoroi-extension/app/components/wallet/voting/CreateTxExecutingDialog.js
  packages/yoroi-extension/app/components/wallet/voting/GeneratePinDialog.js
  packages/yoroi-extension/app/components/wallet/voting/ProgressStepBlock.js
  packages/yoroi-extension/app/components/wallet/voting/QrCodeDialog.js
  packages/yoroi-extension/app/components/wallet/voting/RegisterDialog.js
  packages/yoroi-extension/app/components/wallet/voting/Voting.js
  packages/yoroi-extension/app/components/wallet/voting/Voting.scss
  packages/yoroi-extension/app/components/wallet/voting/VotingRegTxDialog.js
  packages/yoroi-extension/app/components/wallet/voting/VotingRegTxDialog.scss
  packages/yoroi-extension/app/components/wallet/voting/types.js
  packages/yoroi-extension/app/containers/wallet/WalletSendPage.js
  packages/yoroi-extension/app/containers/wallet/dialogs/voting/RegisterDialogContainer.js
  packages/yoroi-extension/app/containers/wallet/dialogs/voting/TransactionDialogContainer.js
  packages/yoroi-extension/app/containers/wallet/dialogs/voting/VotingRegistrationDialogContainer.js
  packages/yoroi-extension/app/containers/wallet/voting/VotingPage.js
  packages/yoroi-extension/app/containers/wallet/voting/VotingPage.stories.js
  packages/yoroi-extension/app/i18n/global-messages.js
  packages/yoroi-extension/app/i18n/locales/en-US.json
Labels: catalyst, hardware-wallets
