Repository Emurgo/yoroi-frontend, pull requests merged in 2022-02, with the labels that each got.

#2698 [cip30] Connector .isEnabled check fix
  packages/yoroi-ergo-connector/example-cardano/index.html
  packages/yoroi-ergo-connector/example-cardano/index.js
  packages/yoroi-ergo-connector/src/inject.js
  packages/yoroi-extension/chrome/extension/background.js
Labels: dapp-connector, cip30

#2695 Release / 4.10
  packages/yoroi-ergo-connector/README.md
  packages/yoroi-ergo-connector/build.js
  packages/yoroi-ergo-connector/example-cardano/index.html
  packages/yoroi-ergo-connector/example-cardano/index.js
  packages/yoroi-ergo-connector/example-cardano/package.json
  packages/yoroi-ergo-connector/example-ergo/package.json
  packages/yoroi-ergo-connector/src/inject.js
  packages/yoroi-extension/app/Routes.js
  packages/yoroi-extension/app/api/ada/index.js
  packages/yoroi-extension/app/api/ada/transactions/shelley/trezorTx.js
  packages/yoroi-extension/app/api/ergo/lib/transactions/utxoTransaction.js
  packages/yoroi-extension/app/components/experimental/YoroiPalette/YoroiPalette.js
  packages/yoroi-extension/app/components/experimental/YoroiPalette/YoroiPalette.scss
  packages/yoroi-extension/app/components/experimental/YoroiTheme/YoroiThemesPage.js
  packages/yoroi-extension/app/components/experimental/YoroiTheme/YoroiThemesPage.scss
  packages/yoroi-extension/app/components/experimental/layout/Navbar.js
  packages/yoroi-extension/app/components/experimental/layout/Navbar.scss
  packages/yoroi-extension/app/components/wallet/assets/AssetsList.js
  packages/yoroi-extension/app/components/wallet/assets/TokenList.js
  packages/yoroi-extension/app/containers/experimental/YoroiPalette.js
  packages/yoroi-extension/app/containers/experimental/yoroiThemes.js
  packages/yoroi-extension/app/containers/wallet/TokensPageRevamp.js
  packages/yoroi-extension/app/containers/wallet/WalletAssetsPage.js
  packages/yoroi-extension/app/domain/TrezorLocalizedError.js
  packages/yoroi-extension/app/ergo-connector/stores/ConnectorStore.js
  packages/yoroi-extension/app/i18n/global-messages.js
  packages/yoroi-extension/app/i18n/locales/en-US.json
  packages/yoroi-extension/app/routes-config.js
  packages/yoroi-extension/app/stores/stateless/sidebarCategories.js
  packages/yoroi-extension/app/styles/globalStyles.js
  packages/yoroi-extension/chrome/extension/background.js
  packages/yoroi-extension/chrome/extension/ergo-connector/api.js
  packages/yoroi-extension/chrome/extension/ergo-connector/types.js
  packages/yoroi-extension/package-lock.json
  packages/yoroi-extension/package.json
  packages/yoroi-extension/scripts/build.js
  packages/yoroi-extension/webpack/commonConfig.js
Labels: release

#2720 Updating connector popup url
  packages/yoroi-extension/chrome/extension/background.js
  packages/yoroi-extension/webpack/commonConfig.js
Labels: dapp-connector

#2724 Fix dApp connector navigation problem
  packages/yoroi-extension/app/ergo-connector/assets/images/send.inline.svg
  packages/yoroi-extension/app/ergo-connector/components/Settings.js
  packages/yoroi-extension/app/ergo-connector/components/layout/Layout.js
  packages/yoroi-extension/app/ergo-connector/containers/SettingsContainer.js
  packages/yoroi-extension/app/ergo-connector/containers/SettingsContainer.stories.js
  packages/yoroi-extension/app/i18n/global-messages.js
  packages/yoroi-extension/app/i18n/locales/en-US.json
Labels: dapp-connector

#2726 Send the right response to the dApp if the user closes the popup without any action
  packages/yoroi-extension/app/ergo-connector/App.js
  packages/yoroi-extension/app/ergo-connector/containers/ConnectContainer.js
  packages/yoroi-extension/app/ergo-connector/containers/SignTxContainer.js
Labels: dapp-connector

#2728 Connector does not support hardware wallets yet
  packages/yoroi-ergo-connector/example-cardano/index.js
  packages/yoroi-extension/app/ergo-connector/components/connect/ConnectPage.js
  packages/yoroi-extension/app/ergo-connector/stores/ConnectorStore.js
  packages/yoroi-extension/app/i18n/locales/en-US.json
Labels: dapp-connector

#2742 Fixed the error handling when submitting a tx via connector
  packages/yoroi-ergo-connector/example-cardano/index.js
  packages/yoroi-extension/chrome/extension/ergo-connector/api.js
Labels: dapp-connector

#2736 Remove the settings page with all the corresponding pages in the dApp connector
  packages/yoroi-extension/app/ergo-connector/Routes.js
  packages/yoroi-extension/app/ergo-connector/assets/images/connected_icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/info_icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/language_icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/menu_icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/placeholder_icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/remove-icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/send.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/support.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/support_icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/terms_of_use_icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/components/AboutPage.js
  packages/yoroi-extension/app/ergo-connector/components/AboutPage.scss
  packages/yoroi-extension/app/ergo-connector/components/Settings.js
  packages/yoroi-extension/app/ergo-connector/components/Settings.scss
  packages/yoroi-extension/app/ergo-connector/components/SupportPage.js
  packages/yoroi-extension/app/ergo-connector/components/SupportPage.scss
  packages/yoroi-extension/app/ergo-connector/components/TermsOfUsePage.js
  packages/yoroi-extension/app/ergo-connector/components/TermsOfUsePage.scss
  packages/yoroi-extension/app/ergo-connector/components/connect-websites/ConnectWebsitesPage.js
  packages/yoroi-extension/app/ergo-connector/components/connect-websites/ConnectWebsitesPage.scss
  packages/yoroi-extension/app/ergo-connector/components/connect-websites/DropdownCard.js
  packages/yoroi-extension/app/ergo-connector/components/connect-websites/DropdownCard.scss
  packages/yoroi-extension/app/ergo-connector/components/layout/Layout.js
  packages/yoroi-extension/app/ergo-connector/components/layout/SettingLayout.js
  packages/yoroi-extension/app/ergo-connector/components/layout/SettingLayout.scss
  packages/yoroi-extension/app/ergo-connector/containers/AboutContainer.js
  packages/yoroi-extension/app/ergo-connector/containers/AboutContainer.stories.js
  packages/yoroi-extension/app/ergo-connector/containers/ConnectWebsitesContainer.js
  packages/yoroi-extension/app/ergo-connector/containers/ConnectWebsitesContainer.stories.js
  packages/yoroi-extension/app/ergo-connector/containers/SettingsContainer.js
  packages/yoroi-extension/app/ergo-connector/containers/SettingsContainer.stories.js
  packages/yoroi-extension/app/ergo-connector/containers/SupportContainer.js
  packages/yoroi-extension/app/ergo-connector/containers/SupportContainer.stories.js
  packages/yoroi-extension/app/ergo-connector/containers/TermsOfUseContainer.js
  packages/yoroi-extension/app/ergo-connector/containers/TermsOfUseContainer.stories.js
  packages/yoroi-extension/app/ergo-connector/routes-config.js
Labels: dapp-connector

#2745 Fixing background sync in connector
  packages/yoroi-ergo-connector/example-cardano/index.js
  packages/yoroi-extension/chrome/extension/background.js
  packages/yoroi-extension/package-lock.json
  packages/yoroi-extension/package.json
Labels: dapp-connector

#2744 Release / 4.11.100
  docs/readme/cardano-token-deposit-explained.md
  packages/yoroi-ergo-connector/example-cardano/index.js
  packages/yoroi-extension/app/api/ada/transactions/shelley/trezorTx.js
  packages/yoroi-extension/app/ergo-connector/Routes.js
  packages/yoroi-extension/app/ergo-connector/assets/images/connected_icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/info_icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/language_icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/menu_icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/placeholder_icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/remove-icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/send.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/support.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/support_icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/assets/images/terms_of_use_icon.inline.svg
  packages/yoroi-extension/app/ergo-connector/components/AboutPage.js
  packages/yoroi-extension/app/ergo-connector/components/AboutPage.scss
  packages/yoroi-extension/app/ergo-connector/components/Settings.js
  packages/yoroi-extension/app/ergo-connector/components/Settings.scss
  packages/yoroi-extension/app/ergo-connector/components/SupportPage.js
  packages/yoroi-extension/app/ergo-connector/components/SupportPage.scss
  packages/yoroi-extension/app/ergo-connector/components/TermsOfUsePage.js
  packages/yoroi-extension/app/ergo-connector/components/TermsOfUsePage.scss
  packages/yoroi-extension/app/ergo-connector/components/connect-websites/ConnectWebsitesPage.js
  packages/yoroi-extension/app/ergo-connector/components/connect-websites/ConnectWebsitesPage.scss
  packages/yoroi-extension/app/ergo-connector/components/connect-websites/DropdownCard.js
  packages/yoroi-extension/app/ergo-connector/components/connect-websites/DropdownCard.scss
  packages/yoroi-extension/app/ergo-connector/components/connect/ConnectPage.js
  packages/yoroi-extension/app/ergo-connector/components/connect/ConnectPage.scss
  packages/yoroi-extension/app/ergo-connector/components/layout/Layout.js
  packages/yoroi-extension/app/ergo-connector/components/layout/SettingLayout.js
  packages/yoroi-extension/app/ergo-connector/components/layout/SettingLayout.scss
  packages/yoroi-extension/app/ergo-connector/components/signin/CardanoSignTxPage.js
  packages/yoroi-extension/app/ergo-connector/components/signin/SignTxPage.js
  packages/yoroi-extension/app/ergo-connector/components/signin/SignTxPage.scss
  packages/yoroi-extension/app/ergo-connector/components/signin/UtxoDetails.scss
  packages/yoroi-extension/app/ergo-connector/containers/AboutContainer.js
  packages/yoroi-extension/app/ergo-connector/containers/AboutContainer.stories.js
  packages/yoroi-extension/app/ergo-connector/containers/ConnectWebsitesContainer.js
  packages/yoroi-extension/app/ergo-connector/containers/ConnectWebsitesContainer.stories.js
  packages/yoroi-extension/app/ergo-connector/containers/SettingsContainer.js
  packages/yoroi-extension/app/ergo-connector/containers/SettingsContainer.stories.js
  packages/yoroi-extension/app/ergo-connector/containers/SupportContainer.js
  packages/yoroi-extension/app/ergo-connector/containers/SupportContainer.stories.js
  packages/yoroi-extension/app/ergo-connector/containers/TermsOfUseContainer.js
  packages/yoroi-extension/app/ergo-connector/containers/TermsOfUseContainer.stories.js
  packages/yoroi-extension/app/ergo-connector/routes-config.js
  packages/yoroi-extension/app/stores/ada/send/TrezorSendStore.js
  packages/yoroi-extension/chrome/extension/background.js
  packages/yoroi-extension/chrome/extension/ergo-connector/api.js
  packages/yoroi-extension/features/daedalus-transfer.feature
  packages/yoroi-extension/features/step_definitions/common-steps.js
  packages/yoroi-extension/features/step_definitions/wallet-restoration-steps.js
  packages/yoroi-extension/features/support/webdriver.js
  packages/yoroi-extension/flow-typed/npm/selenium-webdriver_vx.x.x.js
  packages/yoroi-extension/package-lock.json
  packages/yoroi-extension/package.json
Labels: release
